In [1]:
import pandas as pd

In [2]:
#read data BS1
BS1 = pd.read_excel(r'Xlxs/3_sharks_6Nov20.xlsx', 
                    sheet_name='BS1_ML', 
                    header=None)
BS1.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,species,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,...,C_falciformis,R_anchylostoma,R_anchylostoma,R_anchylostoma,R_anchylostoma,R_anchylostoma,R_anchylostoma,A_cuspidata,A_cuspidata,A_cuspidata
1,40,-0.00151177,-0.00216169,-0.00194976,-0.00186499,-0.00176609,-0.0016248,-0.000861852,-0.00154003,-0.000819466,...,-0.00310832,-0.00567975,-0.005708,-0.00689482,-0.00661224,-0.0068383,-0.00794034,-0.00450706,-0.00498744,-0.00339089
2,40.01,-0.00151177,-0.00204866,-0.00180848,-0.00191444,-0.00178022,-0.00178022,-0.00100314,-0.00167425,-0.000854788,...,-0.00306593,-0.00561617,-0.00575746,-0.00689482,-0.00667582,-0.00693014,-0.00801099,-0.0045,-0.00495212,-0.00335557
3,40.02,-0.00141052,-0.00192622,-0.00157771,-0.00190149,-0.00184144,-0.00186735,-0.00111852,-0.00176727,-0.000898351,...,-0.00309419,-0.00549725,-0.0057916,-0.0068124,-0.00672645,-0.0069219,-0.00804631,-0.00450824,-0.00493681,-0.00337559
4,40.03,-0.00135871,-0.0018956,-0.00147174,-0.00187441,-0.00190031,-0.00178964,-0.00106672,-0.00170958,-0.000901884,...,-0.00317896,-0.00551962,-0.00584694,-0.0067865,-0.00683359,-0.00697253,-0.00807221,-0.004573,-0.00505808,-0.0034945

In [3]:
# transpose
BS1_transpose = BS1.transpose()

In [4]:
# give column name
BS1_transpose.columns = BS1_transpose.iloc[0]

In [5]:
# delete rows which already used for column name
BS1_1 = BS1_transpose.drop(BS1_transpose.index[0])
BS1_1.head()

,species,40,40.01,40.02,40.03,40.04,40.05,40.06,40.07,40.08,...,86.67,86.68,86.69,86.7,86.71,86.72,86.73,86.74,86.75,86.76
1,S_lewini,-0.00151177,-0.00151177,-0.00141052,-0.00135871,-0.00135106,-0.00129843,-0.00125981,-0.00122584,-0.0012239,...,0.00215646,0.00216081,0.00212637,0.00208281,0.00209246,0.00213991,0.0021876,0.00216523,0.00208634,0.00204396
2,S_lewini,-0.00216169,-0.00204866,-0.00192622,-0.0018956,-0.00186087,-0.00178163,-0.00175432,-0.00174422,-0.00174578,...,0.00194532,0.00198155,0.00193261,0.00187245,0.00180989,0.0017761,0.00174725,0.00186146,0.00194034,0.00195918
3,S_lewini,-0.00194976,-0.00180848,-0.00157771,-0.00147174,-0.00142465,-0.00141005,-0.00141523,-0.00139403,-0.00138638,...,0.00223286,0.0022085,0.00218188,0.00217779,0.00217441,0.00222939,0.00224647,0.00212991,0.00207692,0.00206279
4,S_lewini,-0.00186499,-0.00191444,-0.00190149,-0.00187441,-0.00192445,-0.0019314,-0.0019321,-0.00191848,-0.00191356,...,0.00197881,0.00197007,0.00195683,0.00194191,0.00189607,0.00183909,0.00180612,0.00177315,0.0016719,0.00163893
5,S_lewini,-0.00176609,-0.00178022,-0.00184144,-0.00190031,-0.00191385,-0.00188053,-0.00188736,-0.00188248,-0.00188265,...,0.00246834,0.0024425,0.00240895,0.0024011,0.00239906,0.00240306,0.00251491,0.00258556,0.00263265,0.00267504

In [6]:
#read data BS2
BS2 = pd.read_excel(r'Xlxs/3_sharks_6Nov20.xlsx', 
                    sheet_name='BS2_ML', 
                    header=None)
BS2.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,species,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,S_lewini,...,C_falciformis,R_anchylostoma,R_anchylostoma,R_anchylostoma,R_anchylostoma,R_anchylostoma,R_anchylostoma,A_cuspidata,A_cuspidata,A_cuspidata
1,40,1.41287e-05,8.47723e-05,-8.47723e-05,0.000197802,-5.65149e-05,0.000254317,0.000127159,5.65149e-05,5.65149e-05,...,-2.82574e-05,0.000282574,0.000169545,0.000353218,0.000466248,0.000395604,0.000593406,-7.06436e-05,9.89011e-05,4.23862e-05
2,40.01,2.82574e-05,0.000105965,-6.35793e-05,0.000204866,-4.94505e-05,0.000233124,0.000141287,4.94505e-05,5.65149e-05,...,-4.23862e-05,0.00027551,0.000169545,0.000353218,0.000466248,0.000395604,0.000572213,-7.7708e-05,9.18367e-05,4.23862e-05
3,40.02,4.23862e-05,0.000120094,-5.29827e-05,0.000201334,-4.23862e-05,0.000211931,0.00016248,3.53218e-05,4.23862e-05,...,-4.94505e-05,0.000268446,0.00016248,0.000346154,0.000448587,0.000395604,0.000554552,-8.12402e-05,9.89011e-05,3.8854e-05
4,40.03,4.31711e-05,0.000118524,-5.25903e-05,0.000203297,-4.4741e-05,0.000197802,0.000166405,3.21821e-05,2.98273e-05,...,-6.04395e-05,0.000263736,0.000151491,0.000345369,0.000429356,0.000401884,0.000540816,-8.00628e-05,0.00010989,2.74725e-05

In [7]:
# transpose
BS2_transpose = BS2.transpose()

In [8]:
# give column name
BS2_transpose.columns = BS2_transpose.iloc[0]

In [9]:
# delete rows which already used for column name
BS2_1 = BS2_transpose.drop(BS2_transpose.index[0])
BS2_1.head()

,species,40,40.01,40.02,40.03,40.04,40.05,40.06,40.07,40.08,...,74.65,74.66,74.67,74.68,74.69,74.7,74.71,74.72,74.73,74.74
1,S_lewini,1.41287e-05,2.82574e-05,4.23862e-05,4.31711e-05,3.35557e-05,3.10832e-05,3.06122e-05,3.43126e-05,3.53218e-05,...,0.000152276,0.000164541,0.00016719,0.000170722,0.000169545,0.000171311,0.000180534,0.000188383,0.000183673,0.000178964
2,S_lewini,8.47723e-05,0.000105965,0.000120094,0.000118524,0.00012186,0.000117268,0.000111852,0.000105965,0.000100667,...,0.000131083,0.000135106,0.000134223,0.000133045,0.000129984,0.000128925,0.000123234,0.000104788,0.000105965,0.00011303
3,S_lewini,-8.47723e-05,-6.35793e-05,-5.29827e-05,-5.25903e-05,-4.6507e-05,-4.23862e-05,-4.70957e-05,-5.55057e-05,-6.18132e-05,...,0.000145212,0.00014894,0.000152725,0.000148352,0.000141287,0.000134223,0.000123234,0.000104788,0.000105965,0.00011303
4,S_lewini,0.000197802,0.000204866,0.000201334,0.000203297,0.000190149,0.000180848,0.000177786,0.000181655,0.000188089,...,-1.02041e-05,-7.35871e-06,-1.00919e-06,-2.35479e-06,-1.27159e-05,-2.47253e-05,-3.06122e-05,-3.41444e-05,-4.23862e-05,-4.70957e-05
5,S_lewini,-5.65149e-05,-4.94505e-05,-4.23862e-05,-4.4741e-05,-4.17975e-05,-3.95604e-05,-4.4741e-05,-4.94505e-05,-5.12166e-05,...,9.89011e-05,9.7135e-05,9.55371e-05,0.000100078,9.46625e-05,8.65384e-05,0.000101256,0.000109498,0.00011303,0.00011303

In [10]:
#get feature only from BS2
BS2_2 = BS2_1.iloc[:, 1:3476]
BS2_2.head()

,40.0,40.01,40.02,40.03,40.04,40.05,40.06,40.07,40.08,40.09,...,74.65,74.66,74.67,74.68,74.69,74.7,74.71,74.72,74.73,74.74
1,1.41287e-05,2.82574e-05,4.23862e-05,4.31711e-05,3.35557e-05,3.10832e-05,3.06122e-05,3.43126e-05,3.53218e-05,3.45369e-05,...,0.000152276,0.000164541,0.00016719,0.000170722,0.000169545,0.000171311,0.000180534,0.000188383,0.000183673,0.000178964
2,8.47723e-05,0.000105965,0.000120094,0.000118524,0.00012186,0.000117268,0.000111852,0.000105965,0.000100667,9.73312e-05,...,0.000131083,0.000135106,0.000134223,0.000133045,0.000129984,0.000128925,0.000123234,0.000104788,0.000105965,0.00011303
3,-8.47723e-05,-6.35793e-05,-5.29827e-05,-5.25903e-05,-4.6507e-05,-4.23862e-05,-4.70957e-05,-5.55057e-05,-6.18132e-05,-6.27943e-05,...,0.000145212,0.00014894,0.000152725,0.000148352,0.000141287,0.000134223,0.000123234,0.000104788,0.000105965,0.00011303
4,0.000197802,0.000204866,0.000201334,0.000203297,0.000190149,0.000180848,0.000177786,0.000181655,0.000188089,0.000192308,...,-1.02041e-05,-7.35871e-06,-1.00919e-06,-2.35479e-06,-1.27159e-05,-2.47253e-05,-3.06122e-05,-3.41444e-05,-4.23862e-05,-4.70957e-05
5,-5.65149e-05,-4.94505e-05,-4.23862e-05,-4.4741e-05,-4.17975e-05,-3.95604e-05,-4.4741e-05,-4.94505e-05,-5.12166e-05,-5.25903e-05,...,9.89011e-05,9.7135e-05,9.55371e-05,0.000100078,9.46625e-05,8.65384e-05,0.000101256,0.000109498,0.00011303,0.00011303

In [11]:
# merge data BS1 and BS2
# Place the DataFrames side by side
data_model = pd.concat([BS1_1, BS2_2], axis=1)
data_model.head()

,species,40,40.01,40.02,40.03,40.04,40.05,40.06,40.07,40.08,...,74.65,74.66,74.67,74.68,74.69,74.7,74.71,74.72,74.73,74.74
1,S_lewini,-0.00151177,-0.00151177,-0.00141052,-0.00135871,-0.00135106,-0.00129843,-0.00125981,-0.00122584,-0.0012239,...,0.000152276,0.000164541,0.00016719,0.000170722,0.000169545,0.000171311,0.000180534,0.000188383,0.000183673,0.000178964
2,S_lewini,-0.00216169,-0.00204866,-0.00192622,-0.0018956,-0.00186087,-0.00178163,-0.00175432,-0.00174422,-0.00174578,...,0.000131083,0.000135106,0.000134223,0.000133045,0.000129984,0.000128925,0.000123234,0.000104788,0.000105965,0.00011303
3,S_lewini,-0.00194976,-0.00180848,-0.00157771,-0.00147174,-0.00142465,-0.00141005,-0.00141523,-0.00139403,-0.00138638,...,0.000145212,0.00014894,0.000152725,0.000148352,0.000141287,0.000134223,0.000123234,0.000104788,0.000105965,0.00011303
4,S_lewini,-0.00186499,-0.00191444,-0.00190149,-0.00187441,-0.00192445,-0.0019314,-0.0019321,-0.00191848,-0.00191356,...,-1.02041e-05,-7.35871e-06,-1.00919e-06,-2.35479e-06,-1.27159e-05,-2.47253e-05,-3.06122e-05,-3.41444e-05,-4.23862e-05,-4.70957e-05
5,S_lewini,-0.00176609,-0.00178022,-0.00184144,-0.00190031,-0.00191385,-0.00188053,-0.00188736,-0.00188248,-0.00188265,...,9.89011e-05,9.7135e-05,9.55371e-05,0.000100078,9.46625e-05,8.65384e-05,0.000101256,0.000109498,0.00011303,0.00011303

In [12]:
#EXPORT and save data frame to csv
data_model.to_csv(r'Output/6Nov20_combine.csv', 
          index = False, header = False)

In [13]:
# Open data model combined
data_model = pd.read_csv(r'Output/6Nov20_combine.csv',sep=",", header=None)
data_model.head()

,0,1,2,3,4,5,6,7,8,9,...,8143,8144,8145,8146,8147,8148,8149,8150,8151,8152
0,S_lewini,-0.001512,-0.001512,-0.001411,-0.001359,-0.001351,-0.001298,-0.001260,-0.001226,-0.001224,...,0.000152,0.000165,0.000167,0.000171,0.000170,0.000171,0.000181,0.000188,0.000184,0.000179
1,S_lewini,-0.002162,-0.002049,-0.001926,-0.001896,-0.001861,-0.001782,-0.001754,-0.001744,-0.001746,...,0.000131,0.000135,0.000134,0.000133,0.000130,0.000129,0.000123,0.000105,0.000106,0.000113
2,S_lewini,-0.001950,-0.001808,-0.001578,-0.001472,-0.001425,-0.001410,-0.001415,-0.001394,-0.001386,...,0.000145,0.000149,0.000153,0.000148,0.000141,0.000134,0.000123,0.000105,0.000106,0.000113
3,S_lewini,-0.001865,-0.001914,-0.001901,-0.001874,-0.001924,-0.001931,-0.001932,-0.001918,-0.001914,...,-0.000010,-0.000007,-0.000001,-0.000002,-0.000013,-0.000025,-0.000031,-0.000034,-0.000042,-0.000047
4,S_lewini,-0.001766,-0.001780,-0.001841,-0.001900,-0.001914,-0.001881,-0.001887,-0.001882,-0.001883,...,0.000099,0.000097,0.000096,0.000100,0.000095,0.000087,0.000101,0.000109,0.000113,0.000113

In [14]:
#Train data with Logistic Regression, SVM, Random Forest
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [16]:
# split data for traning and testing 
X_train, X_test, y_train, y_test = train_test_split(data_model.loc[:, ~data_model.columns.isin([0])], data_model[0],
                                                    test_size=0.30,random_state=8)

In [17]:
#create model
lr_mdl = LogisticRegression()
svm_mdl = svm.SVC(C=1.0, kernel='rbf', probability = True)
rf_mdl = RandomForestClassifier(n_estimators=11)

In [18]:
model_lr = lr_mdl.fit(X_train,y_train)
model_svm = svm_mdl.fit(X_train,y_train)
model_rf = rf_mdl.fit(X_train,y_train)

/home/local/ISDADS/ezp715/miniconda2/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/local/ISDADS/ezp715/miniconda2/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/home/local/ISDADS/ezp715/miniconda2/lib/python2.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [19]:
#predict test data
y_pred_lr = model_lr.predict(X_test)
y_pred_svm = model_svm.predict(X_test)
y_pred_rf = model_rf.predict(X_test)

In [20]:
#compute accuracy
print("Logistic Regression Accuracy:",metrics.accuracy_score(y_test, y_pred_lr))
print("SVM Accuracy:",metrics.accuracy_score(y_test, y_pred_svm))
print("Random Forest Accuracy:",metrics.accuracy_score(y_test, y_pred_rf))

('Logistic Regression Accuracy:', 0.8888888888888888)
('SVM Accuracy:', 0.2222222222222222)
('Random Forest Accuracy:', 1.0)

In [21]:
#Other Metrics
#Create and print Confussion Matix
print("Logistic Regression: \n",metrics.confusion_matrix(y_test, y_pred_lr))
print("SVM: \n",metrics.confusion_matrix(y_test, y_pred_svm))
print("Random Forest: \n",metrics.confusion_matrix(y_test, y_pred_rf))

('Logistic Regression: \n', array([[0, 1, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 2, 0],
       [0, 0, 0, 4]]))
('SVM: \n', array([[0, 1, 0, 0],
       [0, 2, 0, 0],
       [0, 2, 0, 0],
       [0, 4, 0, 0]]))
('Random Forest: \n', array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 2, 0],
       [0, 0, 0, 4]]))

In [22]:
#calculate ROC and draw
#Use predict_proba to get probability of positive

y_pred_prob_lr = model_lr.predict_proba(X_test)
y_pred_prob_svm = model_svm.predict_proba(X_test)
y_pred_prob_rf = model_rf.predict_proba(X_test)

y_prob_lr = y_pred_prob_lr[:, 1]
y_prob_svm = y_pred_prob_svm[:, 1]
y_prob_rf = y_pred_prob_rf[:, 1]

In [23]:
# show probability LR
y_prob_lr

array([0.19243679, 0.17163096, 0.19034987, 0.62322297, 0.55199536,
       0.22264302, 0.28286019, 0.17924288, 0.18877527])

In [24]:
# show probability SVM
y_prob_svm

array([0.04584251, 0.07967169, 0.09230249, 0.46767406, 0.39073172,
       0.10741159, 0.05521403, 0.08478404, 0.04307338])

In [25]:
# show probability RF
y_prob_rf

array([0.09090909, 0.        , 0.09090909, 1.        , 0.81818182,
       0.09090909, 0.        , 0.        , 0.        ])

In [26]:
#Logistic Regresssion

In [27]:
#menyimpan model ke dalam file
import pickle

outfile = open("Output/model_logistic",'wb')
pickle.dump(model_lr,outfile)
outfile.close()

In [28]:
#membuka kembali model untuk digunakan dalam prediksi senyawa baru
with open("Output/model_logistic", "rb") as input_file:
    model_baru = pickle.load(input_file)

In [29]:
#menggunakan model tersimpan untuk prediksi
y_pred_lr = model_baru.predict(X_test)

In [30]:
X_test.head()

,1,2,3,4,5,6,7,8,9,10,...,8143,8144,8145,8146,8147,8148,8149,8150,8151,8152
25,-0.006838,-0.006930,-0.006922,-0.006973,-0.007017,-0.007036,-0.007044,-0.007040,-0.007082,-0.007133,...,0.000312,0.000307,0.000307,0.000297,0.000287,0.000281,0.000272,0.000267,0.000254,0.000245
0,-0.001512,-0.001512,-0.001411,-0.001359,-0.001351,-0.001298,-0.001260,-0.001226,-0.001224,-0.001239,...,0.000152,0.000165,0.000167,0.000171,0.000170,0.000171,0.000181,0.000188,0.000184,0.000179
7,-0.001540,-0.001674,-0.001767,-0.001710,-0.001690,-0.001677,-0.001673,-0.001699,-0.001724,-0.001713,...,0.000207,0.000205,0.000207,0.000208,0.000206,0.000203,0.000192,0.000151,0.000127,0.000122
18,-0.003645,-0.003681,-0.003698,-0.003763,-0.003843,-0.003874,-0.003889,-0.003940,-0.003983,-0.004030,...,0.000144,0.000140,0.000136,0.000137,0.000143,0.000154,0.000168,0.000158,0.000141,0.000132
15,-0.002374,-0.002409,-0.002471,-0.002494,-0.002604,-0.002680,-0.002702,-0.002720,-0.002745,-0.002785,...,0.000144,0.000145,0.000153,0.000153,0.000143,0.000125,0.000117,0.000126,0.000120,0.000113

In [31]:
y_pred_lr

array(['R_anchylostoma', 'S_lewini', 'S_lewini', 'C_falciformis',
       'C_falciformis', 'S_lewini', 'C_falciformis', 'S_lewini',
       'R_anchylostoma'], dtype=object)

In [32]:
y_pred_prob_lr = model_baru.predict_proba(X_test)
y_prob_lr = y_pred_prob_lr[:, 1]
y_prob_lr

array([0.19243679, 0.17163096, 0.19034987, 0.62322297, 0.55199536,
       0.22264302, 0.28286019, 0.17924288, 0.18877527])

In [33]:
prediction = pd.DataFrame({'Actual Species': y_test,'Species prediction': y_pred_lr, 'Probability': y_prob_lr}, columns=['Actual Species', 'Species prediction', 'Probability'])
prediction

    Actual Species Species prediction  Probability
25  R_anchylostoma     R_anchylostoma     0.192437
0         S_lewini           S_lewini     0.171631
7         S_lewini           S_lewini     0.190350
18   C_falciformis      C_falciformis     0.623223
15   C_falciformis      C_falciformis     0.551995
4         S_lewini           S_lewini     0.222643
29     A_cuspidata      C_falciformis     0.282860
1         S_lewini           S_lewini     0.179243
22  R_anchylostoma     R_anchylostoma     0.188775

In [34]:
# Random Forest

In [35]:
#menyimpan model ke dalam file
import pickle

outfile = open("Output/model_rf",'wb')
pickle.dump(model_rf,outfile)
outfile.close()

In [36]:
#membuka kembali model untuk digunakan dalam prediksi senyawa baru
with open("Output/model_rf", "rb") as input_file:
    model_baru = pickle.load(input_file)

In [37]:
#menggunakan model tersimpan untuk prediksi
y_pred_rf = model_baru.predict(X_test)

In [38]:
X_test.head()

,1,2,3,4,5,6,7,8,9,10,...,8143,8144,8145,8146,8147,8148,8149,8150,8151,8152
25,-0.006838,-0.006930,-0.006922,-0.006973,-0.007017,-0.007036,-0.007044,-0.007040,-0.007082,-0.007133,...,0.000312,0.000307,0.000307,0.000297,0.000287,0.000281,0.000272,0.000267,0.000254,0.000245
0,-0.001512,-0.001512,-0.001411,-0.001359,-0.001351,-0.001298,-0.001260,-0.001226,-0.001224,-0.001239,...,0.000152,0.000165,0.000167,0.000171,0.000170,0.000171,0.000181,0.000188,0.000184,0.000179
7,-0.001540,-0.001674,-0.001767,-0.001710,-0.001690,-0.001677,-0.001673,-0.001699,-0.001724,-0.001713,...,0.000207,0.000205,0.000207,0.000208,0.000206,0.000203,0.000192,0.000151,0.000127,0.000122
18,-0.003645,-0.003681,-0.003698,-0.003763,-0.003843,-0.003874,-0.003889,-0.003940,-0.003983,-0.004030,...,0.000144,0.000140,0.000136,0.000137,0.000143,0.000154,0.000168,0.000158,0.000141,0.000132
15,-0.002374,-0.002409,-0.002471,-0.002494,-0.002604,-0.002680,-0.002702,-0.002720,-0.002745,-0.002785,...,0.000144,0.000145,0.000153,0.000153,0.000143,0.000125,0.000117,0.000126,0.000120,0.000113

In [39]:
y_pred_rf

array(['R_anchylostoma', 'S_lewini', 'S_lewini', 'C_falciformis',
       'C_falciformis', 'S_lewini', 'A_cuspidata', 'S_lewini',
       'R_anchylostoma'], dtype=object)

In [40]:
y_pred_prob_rf = model_baru.predict_proba(X_test)
y_prob_rf = y_pred_prob_rf[:, 1]
y_prob_rf

array([0.09090909, 0.        , 0.09090909, 1.        , 0.81818182,
       0.09090909, 0.        , 0.        , 0.        ])

In [41]:
prediction = pd.DataFrame({'Actual Species': y_test,'Species prediction': y_pred_rf, 'Probability': y_prob_rf}, columns=['Actual Species', 'Species prediction', 'Probability'])
prediction

    Actual Species Species prediction  Probability
25  R_anchylostoma     R_anchylostoma     0.090909
0         S_lewini           S_lewini     0.000000
7         S_lewini           S_lewini     0.090909
18   C_falciformis      C_falciformis     1.000000
15   C_falciformis      C_falciformis     0.818182
4         S_lewini           S_lewini     0.090909
29     A_cuspidata        A_cuspidata     0.000000
1         S_lewini           S_lewini     0.000000
22  R_anchylostoma     R_anchylostoma     0.000000